<page-header></page-header>
<app-personcard *ngIf="selected && currentState !='ADD'" [person] = selected>
</app-personcard>

<div *ngIf="currentState == 'ADD' || currentState == 'EDIT'">
  <app-addpeople
    [formMode]="currentState"
    [initialData]="selected"
    (changeStateEvent)="changeState($event)"
  >
  </app-addpeople>
  
</div>


<mat-card *ngIf="currentState == 'RETRIEVE'">
  <mat-toolbar>
    <div
      matTooltip="{{ 'record_actions.add_new' | translate }} {{ 'domain.people' | translate }}"
      cdkDrag
      (cdkDragStarted)="handleDragStart($event)"
      *ngIf="currentState == 'RETRIEVE'"
    >
      <button mat-raised-button color="primary" (click)="openPanel($event)">
        {{ 'record_actions.add_new' | translate }}
      </button>
    </div>
  </mat-toolbar>

  <mat-card-content>
    <mtx-grid
      [data]="peopleList"
      [columns]="columns"
      [loading]="isLoading"
      [multiSelectable]="multiSelectable"
      [rowSelectable]="rowSelectable"
      [hideRowSelectionCheckbox]="hideRowSelectionCheckbox"
      [rowHover]="rowHover"
      [rowStriped]="rowStriped"
      [showToolbar]="showToolbar"
      [toolbarTitle]="title"
      [columnHideable]="columnHideable"
      [columnMovable]="columnMovable"
      [pageOnFront]="showPaginator"
      [showPaginator]="showPaginator"
      [pageSizeOptions]="[5, 10, 50, 100]"
      [pageIndex]="0"
      [pageSize]="10"
      (sortChange)="changeSort($event)"
      (selectionChange)="changeSelect($event)"
      (rowSelectionChange)="changeSelect($event)"
      *ngIf="currentState == 'RETRIEVE'"
    >
    </mtx-grid>
  </mat-card-content>
</mat-card>



<!-- <ng-template #expansionTpl let-row>
  {{row.name}}
</ng-template> -->

<!-- <button mat-stroked-button (click)="updateCell()">Update Cell</button>
<button mat-stroked-button (click)="updateList()">Update List</button>
 -->
