<div fxLayout="row wrap" fxLayoutAlign="center">
  <div fxFlexAlign="center" fxFlex="430px" fxFlex.lt-xs="80" fxLayout="column" style="padding: 5px">
    <mat-card class="bg-linceley-blue-50">
      <!-- [ngClass]="{'bg-linceley-yellow-50':(formMode=='EDIT'), 'bg-linceley-blue-50': (formMode=='ADD')}" -->
      <mat-card-header class="bg-linceley-blue-700">
        <!-- [ngClass]="{'bg-linceley-yellow-700':(formMode=='EDIT'), 'bg-linceley-blue-700': (formMode=='ADD')}" -->
        <mat-card-subtitle class="p-8 text-linceley-blue-100">
          <!-- [ngClass]="{'text-linceley-yellow-50':(formMode=='EDIT'), 'text-linceley-blue-50': (formMode=='ADD')}" -->
          <span *ngIf="formMode == 'ADD'">{{
            'record_actions.add_new' | translate | uppercase
          }}</span>
          <span *ngIf="formMode == 'EDIT'">{{
            'record_actions.edit' | translate | uppercase
          }}</span>
          - {{ 'domain.departments' | translate | uppercase }}
        </mat-card-subtitle>
      </mat-card-header>

        <mat-card-content class="m-4">
          <form [formGroup]="departmentFormGroup">
            <mat-form-field>
              <input
                matInput
                placeholder="{{ 'domain.name' | translate | titlecase }}"
                formControlName="name"
                required
              />
              <mat-error *ngIf="departmentFormGroup.get('name').hasError('required')">
                {{ 'validations.required' | translate }}
              </mat-error>
              <mat-error *ngIf="departmentFormGroup.get('name').hasError('minlength')">
                {{ 'validations.minlength' | translate }}
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-select
              placeholder="{{ 'domain.company' | translate | titlecase }}"
              formControlName="company"
              required
              >
                <mat-option *ngFor="let item of companyList" [value]="item._id">
                  {{ item.fullName }}
                </mat-option>
              </mat-select>

              <mat-error *ngIf="departmentFormGroup.get('company').hasError('required')">
                {{ 'validations.required' | translate }}
              </mat-error>
            </mat-form-field>


            <div>
              <mat-checkbox formControlName="isActive">{{
                'domain.isActive' | translate | titlecase
              }}</mat-checkbox>
            </div>
          </form>
        </mat-card-content>
        <mat-card-actions align="right">
          <div class="buttons-row">
            <button *ngIf="formMode == 'ADD'" mat-raised-button color="default" type="reset" (click)="onReset()" >
              {{ 'record_actions.reset' | translate | titlecase }}
            </button>
            <button mat-raised-button color="default" type="cancel" (click)="onCancel()">
              {{ 'record_actions.cancel' | translate | titlecase }}
            </button>
            <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">
              {{ 'record_actions.save' | translate | titlecase }}
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
