<mat-card>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="personFormGroup">
      <form [formGroup]="personFormGroup">
        <ng-template matStepLabel>Datos Personales</ng-template>
        <mat-form-field>
          <input matInput placeholder="Names" formControlName="names" required />
          <mat-error *ngIf="personFormGroup.controls.names.invalid">
            <small *ngIf="personFormGroup.controls.names.errors.required">Required</small>
            <small *ngIf="personFormGroup.controls.names.errors.minlength"
              >Minimum length is 2</small
            >
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last Names" formControlName="lastNames" required />
          <mat-error *ngIf="personFormGroup.controls.lastNames.invalid">
            <small *ngIf="personFormGroup.controls.lastNames.errors.required">Required</small>
            <small *ngIf="personFormGroup.controls.lastNames.errors.minlength"
              >Minimum length is 2</small
            >
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="ID Number" formControlName="personalId" required />
          <mat-icon matSuffix>perm_identity</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Picture" formControlName="picture" required />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Mobile Number"
            type="tel"
            formControlName="mobileNumber"
            required
          />
          <mat-icon matSuffix>phone_android</mat-icon>
        </mat-form-field>
        <div class="matero-row" fxAlign="center">
          <div class="matero-col" fxFlex="30" fxFlex.lt-sm="50" fxFlex.lt-md="40">
            <!-- in app.component.html -->
            <ngx-dropzone (change)="onSelect($event)">
              <ngx-dropzone-label>Arraste imagen o haga clic</ngx-dropzone-label>
              <ngx-dropzone-image-preview
                *ngFor="let f of files"
                [multiple]="false"
                accept="image/*"
                [removable]="true"
                (removed)="onRemove(f)"
                [file]="f"
              >
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
              </ngx-dropzone-image-preview>
            </ngx-dropzone>
          </div>
        </div>
        <div class="matero-row">
          <button mat-raised-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="accountFormGroup">
      <form [formGroup]="accountFormGroup">
        <ng-template matStepLabel>Cuenta</ng-template>
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" required />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" type="email" formControlName="email" required />
        </mat-form-field>
        <mat-form-field class="password-reveal">
          <input
            matInput
            placeholder="Password"
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            required
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? 'visibility_off' : 'visibility'
          }}</mat-icon>
        </mat-form-field>
        <div>
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="rolesFormGroup">
      <form [formGroup]="rolesFormGroup">
        <ng-template matStepLabel>Permisos</ng-template>
        <mat-form-field>
          <input matInput placeholder="Roles" formControlName="roles" required />
        </mat-form-field>
        <div>
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>
