<page-header></page-header>
<div *ngIf="currentState == 'ADD' || currentState == 'EDIT'">
  <app-adddepartment  
  [formMode] ="currentState" 
  [initialData]="selected" 
  (changeStateEvent)="changeState($event)">
</app-adddepartment>
</div>

<div  
  matTooltip="Agregar Departamento"
  cdkDrag
  (cdkDragStarted)="handleDragStart($event)"
  *ngIf="currentState == 'RETRIEVE'"
>
  <button mat-raised-button color="accent" (click)="openPanel($event)">
    <mat-icon aria-label="Agregar nuevo departamento">add</mat-icon>
  </button>
</div> 

<!-- Inicia listado de departamentos' -->
<mtx-grid
  [data]="departmentList"
  [columns]="columns"
  [loading]="isLoading"
  [multiSelectable]="multiSelectable"
  [rowSelectable]="rowSelectable"
  [hideRowSelectionCheckbox]="hideRowSelectionCheckbox"
  [rowHover]="rowHover"
  [rowStriped]="rowStriped"
  [showToolbar]="showToolbar"
  [toolbarTitle]="title"
  [columnHideable]="columnHideable"
  [columnMovable]="columnMovable"
  [pageOnFront]="showPaginator"
  [showPaginator]="showPaginator"
  [pageSizeOptions]="[5, 10, 50, 100]"
  [pageIndex]="0"
  [pageSize]="10"
  (sortChange)="changeSort($event)"
  (selectionChange)="changeSelect($event)"
  *ngIf="currentState == 'RETRIEVE'"
>
</mtx-grid>
<!-- <ng-template #expansionTpl let-row>
  {{row.name}}
</ng-template> -->

<!-- <button mat-stroked-button (click)="updateCell()">Update Cell</button>
<button mat-stroked-button (click)="updateList()">Update List</button>
 -->
