@import '../../../../styles/custom/linceley.scss';

.matero-page-header {
  display: block;
  padding: 16px;
  margin: -16px -16px 16px;
  background-color: map-get($mat-linceley-yellow , 700 );// #3f51b5;
  //background-color: mat-linceley-yellow-700;// #3f51b5;
  //color: map-get($mat-linceley-blue , 900 );


  .matero-breadcrumb {
    margin-top: 8px;
    margin-bottom: 0;
  }
}

.matero-page-title {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}
