<page-header></page-header>
<div *ngIf="currentState == 'ADD' || currentState == 'EDIT'">
  <app-adddriver
    [formMode]="currentState"
    [initialData]="selected"
    (changeStateEvent)="changeState($event)"
  >
  </app-adddriver>
</div>

<mat-card *ngIf="currentState == 'RETRIEVE'">
  <mat-toolbar>
    <div
      matTooltip="{{ 'record_actions.add_new' | translate }} {{ 'domain.drivers' | translate }}"
      cdkDrag
      (cdkDragStarted)="handleDragStart($event)"
      *ngIf="currentState == 'RETRIEVE'"
    >
      <button mat-raised-button color="primary" (click)="openPanel($event)">
        {{ 'record_actions.add_new' | translate }}
      </button>
    </div>
  </mat-toolbar>

  <ng-data-table
  [id]="'driver-list'"
  [title]="getTitle()"
  [items]="driverList"

  [indexColumnTitle]="'#'"
  [indexColumnWidth]="30"

  [showIndexColumn]="true"
  [showHeader]="false"
  [showRowSelectCheckbox]="false"
  [showSubstituteRows]="false"
  [showColumnSelector]="false"
  [showRowSelectAllCheckbox]="true"

  [pageable]="true"
  [rowSelectable]="false"
  [selectOnRowClick]="true"
  [persistTableState]="true"
  [expandableRows]="false"
  [showLoadingSpinner]="true"
  [selectMode]="'single'"
  [DataTableStorageMode] ="local"
  [persistTableState] = "true"
  [translations]="getDataTableTranslations()"
  [minContentWidth]="800"
>
  <ng-data-table-column [field]="'_id'" [title]="'ID'" [visible]="false"> </ng-data-table-column>

  <ng-data-table-column
    [field]="'personName'"
    [title]="translate.instant('domain.person').toUpperCase()"

    [filterable]="true"
    [showDropdownFilter]="false"
    [filterPlaceholder]="translate.instant('record_actions.search')"
    [sortable]="true"


  >
  </ng-data-table-column>
  <ng-data-table-column
    [field]="'companyName'"
    [title]="translate.instant('domain.company').toUpperCase()"

    [filterPlaceholder]="translate.instant('record_actions.search')"

    [sortable]="true"
    [filterable]="true"
    [dropdownFilterMenuPosition]="'bottom-right'"
    [showDropdownFilter]="true"
    [dropDownFilterShowOptionSelectCheckbox]="true"
  >
  </ng-data-table-column>

  <ng-data-table-column
    [field]="'isExternal'"
    [title]="translate.instant('domain.isexternal').toUpperCase()"
    [width]="150"

    [sortable]="true"
    [filterable]="true"
    [dropdownFilterMenuPosition]="'bottom-right'"
    [showDropdownFilter]="true"
    [dropDownFilterShowOptionSelectCheckbox]="true"
  >
    <ng-template #ngDataTableCell let-row="row">
      <td align="center">
        <mat-slide-toggle color="primary" [checked]="row.item.isExternal"
        [disabled]="true"
        > </mat-slide-toggle>
      </td>
    </ng-template>
  </ng-data-table-column>

  <ng-data-table-column
    [field]="'isAvailable'"
    [title]="translate.instant('domain.isavailable').toUpperCase()"
    [width]="150"

    [sortable]="true"
    [filterable]="true"
    [dropdownFilterMenuPosition]="'bottom-right'"
    [showDropdownFilter]="true"
    [dropDownFilterShowOptionSelectCheckbox]="true"
  >
    <ng-template #ngDataTableCell let-row="row">
      <td align="center">
        <mat-slide-toggle color="primary" [checked]="row.item.isAvailable"
        [disabled]="true"
        > </mat-slide-toggle>
      </td>
    </ng-template>
  </ng-data-table-column>

  <ng-data-table-column
    [field]="'isActive'"
    [title]="translate.instant('domain.isActive').toUpperCase()"
    [width]="150"

    [sortable]="true"
    [filterable]="true"
    [dropdownFilterMenuPosition]="'bottom-right'"
    [showDropdownFilter]="true"
    [dropDownFilterShowOptionSelectCheckbox]="true"
  >
    <ng-template #ngDataTableCell let-row="row">
      <td align="center">
        <mat-slide-toggle color="primary" [checked]="row.item.isActive"
        [disabled]="true"
        > </mat-slide-toggle>
      </td>
    </ng-template>
  </ng-data-table-column>
  <ng-data-table-column [width]="100">
    <ng-template #ngDataTableCell let-row="row">
      <td align="center">
        <button mat-icon-button color= "accent" (click)="edit(row.item)"
        matTooltip="{{ 'record_actions.edit' | translate }}">
          <mat-icon>edit</mat-icon>

        </button>
        <button mat-icon-button color="warn" (click)="confirmDelete(row.item)"
        matTooltip="{{ 'record_actions.deactivate' | translate }}">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-template>
  </ng-data-table-column>
  <ng-template #ngDataTableNoRecords>
    <h1 color="text-linceley-yellow-900"><mat-icon>api</mat-icon> {{notifications.nodata | translate | titlecase}}</h1>
  </ng-template>
  </ng-data-table>

</mat-card>
