<div matero-row fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="formMode == 'ADD'">
  <div fxFlex="50" fxFlex.lt-sm="100" class="matero-col" fxLayoutAlign="center">


    <mat-card > 
      <mat-card-header>
        <mat-card-title>Agregar Usuario</mat-card-title>
      </mat-card-header>

      <mat-horizontal-stepper [linear] = "true" #stepper>
        <mat-step [stepControl]="personFormGroup">
          <form [formGroup]="personFormGroup">
            <ng-template matStepLabel>Datos Personales</ng-template>

            <mat-form-field>
              <input matInput placeholder="Nombres" formControlName="names" required  />
            </mat-form-field>
             <mat-form-field>
              <input matInput placeholder="Apellidos" formControlName="lastNames" required  />
            </mat-form-field> 
           <mat-form-field>
              <input matInput placeholder="No. de Identificacón" formControlName="personalId" required />
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Celular" formControlName="mobileNumber" />
            </mat-form-field> 

            <div>
              <button mat-button matStepperNext >Siguiente</button>
            </div>
          </form>
        </mat-step>
         <mat-step [stepControl]="accountFormGroup">
          <form [formGroup]="accountFormGroup">
            <ng-template matStepLabel>Datos de Cuenta</ng-template>
            <mat-form-field>
              <input matInput placeholder="Cuenta" formControlName="name" required  />
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email" required/>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Contraseña" formControlName="password" required/>
            </mat-form-field>
    
              <mat-slide-toggle color="primary" [(ngModel)]="isActive">
                Activar esta cuenta?
              </mat-slide-toggle>
              <!-- <input matInput placeholder="Activo" formControlName="isActive" /> -->

            <div>
              <button mat-button matStepperPrevious >Anterior</button>
              <button mat-button matStepperNext >Siguiente</button>
            </div>
          </form>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Permisos</ng-template>
          Ha terminado!.
          <div>
            <button mat-button matStepperPrevious>Anterior</button>
            <button mat-button (click)="stepper.Reiniciar()">Reset</button>
            <button mat-button (click)="onSubmit()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card>
  </div>
</div>

{{ selectedRow }}
