<page-header></page-header>

<app-security-users-form [selectedRow]="selected" [formMode]="currentState" *ngIf="currentState != 'RETRIEVE'">
</app-security-users-form>

<app-security-users-list 
(editEvent)="editMode($event)"
(deleteEvent) = "deleteMode($event)"
*ngIf="currentState == 'RETRIEVE'"
> </app-security-users-list>

<div class="customizer-handle" fxLayoutAlign="end center">
  <button mat-fab 
  class="bg-blue-A200"
   (click)="changeMode('ADD');" *ngIf="currentState == 'RETRIEVE'">
    <mat-icon aria-label="add">add</mat-icon>
  </button>
</div>
