<div class="matero-row"  fxLayout="row wrap">
  <div
    class="matero-col"
    fxFlex.gt-sm="25"
    fxFlex.gt-xs="50"
    fxFlex="100"
    *ngFor="let item of data"
  >
    <mat-card class="mat-focus-indicator text-black bg-amber-50">
      <mat-card-header class="mat-elevation-z3 p-8 bg-blue-700 text-white">
        <div mat-card-avatar><mat-icon>manage_accounts</mat-icon></div>
        <mat-card-title class="f-s-14 text-uppercase"
          ><strong>{{ item.name }}</strong></mat-card-title
        >
        <mat-card-subtitle class="f-s-10 text-white">{{ item.email }}</mat-card-subtitle>
      </mat-card-header>
      <!--       <img mat-card-image src="/assets/images/no_image.webp"
      aria-label="Picture"> -->
      <mat-card-content class="f-s-10 p-8 text-black-100 mat-elevation-z1 bg-blue-50">
        <p><b>ID: </b>{{ item._id }}</p>
        <p>
          <b>{{ 'domain.names' | translate | titlecase }}: </b>{{ item.person.names }}
        </p>
        <p>
          <b>{{ 'domain.lastnames' | translate | titlecase }}: </b>{{ item.person.lastNames }}
        </p>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="end center">
        <small class="text-muted">{{ 'record_actions.actions' | translate | titlecase }}:</small>&nbsp;

        <ng-template #tooltipEdit>
          <div>
            {{ 'record_actions.edit' | translate }}: <strong>{{ item.name }}</strong>
          </div>
        </ng-template>
        <ng-template #tooltipDelete>
          <div>
            {{ 'record_actions.delete' | translate }}: <strong>{{ item.name }}</strong>
          </div>
        </ng-template>

        <button mat-icon-button class="bg-blue-800 text-white"
        [mtxTooltip]="tooltipEdit"
        [mtxTooltipPosition]="position.value"
        (click)="editRequest(item._id)">
          <mat-icon>edit</mat-icon>
        </button>
        &nbsp;
        <button mat-icon-button mat-focus-indicator
        class="bg-deep-orange-800 text-white"
        [mtxTooltip]="tooltipDelete"
        [mtxTooltipPosition]="position.value"
        (click)="deleteRequest(item.Id)"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
